@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Mona Sans Variable", sans-serif;
}

.linkItem {
  color: black;
  width: fit-content;
}

.linkItem:hover {
  color: wheat;
}
